body, html {
  height: 100%;
}
.bg { 
  /* The image used */
  background-image: url("../images/andrew-seaman-552850-unsplash.jpg");
  background-size: cover;

  /* Full height */
  height: 100%; 

}   

h6 {
    line-height: 1.7;
}
